@font-face {
    font-family: Orbitron;
    src: url("lib/Orbitron/Orbitron-Regular.ttf") format("truetype");
    font-weight: normal;
}

@font-face {
    font-family: Orbitron;
    src: url("lib/Orbitron/Orbitron-Bold.ttf") format("truetype");
    font-weight: bold;
}

/* Page */
body, header, main, div {
    display: flex;
}

input, button, img {
    cursor: pointer;
}

body {
    background: radial-gradient(circle at center bottom, rgba(0, 0, 0, .9), rgba(0, 0, 0, .7), rgba(0, 0, 0, .5)) no-repeat;
    margin: auto;
    flex-direction: column;
    align-items: center;
    font-family: Orbitron, sans-serif;
    overflow: auto;
    color: rgb(250, 250, 250);
    height: 100vh;
    width: 100vw;
}

body::-webkit-scrollbar, #app::-webkit-scrollbar {
    display: none;
}

a {
    color: rgb(250, 250, 250);
    text-decoration: none;
}

button {
    background: radial-gradient(circle at center, rgba(255, 255, 255, .1), rgba(255, 255, 255, .3), rgba(255, 255, 255, .5));
    margin: 10px;
    font-family: Orbitron, sans-serif;
    font-size: 2rem;
    border: 1px;
    border-radius: 50px;
    height: 4rem;
    color: black;
    transition: .1s;
}

button:hover {
    background: radial-gradient(circle at center, rgba(0, 0, 0, .1), rgba(0, 0, 0, .3), rgba(0, 0, 0, .5));
    color: white;
    transition: .1s;
}


/* Header */
header {
    width: 100vw;
    place-content: center center;
}

header > div {
    width: calc(100vw / 3);
}

/* Color */
#colors {
    place-items: center flex-start;
}

#colors > div {
    display: none;
    padding: 5px;
}

/* Logo */
#logo {
    display: block;
    text-align: center;
}

#logo > img {
    height: auto;
    width: 100px;
    transition: .5s;

}

#logo > img:hover {
    width: 150px;
    transition: .5s;
}

/* Menu */
#menu {
    place-items: center flex-end;
    place-content: center flex-end;
}

a {
    padding: 5px;
    transition: .25s;
}

#userNameDisplay, #signOut {
    display: none;
}
#userNameDisplay:hover {
font-size: xx-large;
}
#userNameDisplay{
    font-size: x-large;
    cursor: default;
}
#signOut{
    font-size: smaller;
}

a:hover {
    color: black;
    transition: .25s;
}

/* App */
#app {
    flex-direction: column;
    overflow: auto;
    height: 100%;
    place-content: center space-around;
}

/* Description */
#description, #form {
    flex-direction: column;
    place-content: center;
    text-align: center;
    place-self: center;
}

#howToPlay {
    display: block;
}

/* Sign */
#form {
    display: none;
    width: 30vw;
    height: 100%;
}

#form > input {
    font-family: Orbitron, sans-serif;
    font-size: large;
    text-align: center;
    margin-bottom: 10px;
    padding: 10px 0;
    border-radius: 50px;
}

/* Play */

/* Ladder */
#ladder {
    flex-direction: column;
    text-align: center;
}

tbody > tr:first-child {
    font-size: 2rem;
}

tr:nth-child(2) {
    font-size: 1.7rem;
}

tr:nth-child(3) {
    font-size: 1.3rem;
}

table {
    text-align: center;
    width: 100%;
}

/* Form */

/* Game */
/* HUD */
.hud {
    flex-direction: column;
    place-content: center;
    text-align: center;
    font-weight: bold;
}

/* Pawns */
[foe=true], [player=true] {
    place-content: center;
}

.foe, .player {
    width: 75%;
    height: 75%;
    border-radius: 50%;
    border: 1px solid black;
    place-self: center;
}

/* Board */
#board {
    padding: 30px;
    flex-direction: column-reverse;
}

.tiles {
    width: 40px;
    height: 40px;
    border-radius: 1rem;
    border: 1px solid black;
    text-align: center;
}

.row {
    justify-content: center;
}

/* Game Over */
#gameOver {
    text-align: center;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
}


hr {
    border: 0;
    border-top: 5px double white;
    overflow: visible;
    text-align: center;
    height: 10px;
    width: 100%;
}


