.tiles{
    width: 60px;
    height: 60px;
}
.foe{
    background-image: url("foe.png");
}
.player{
    background-image: url("player.png");
}
.player, .foe{
    background-size: 90%;
    background-position: center;
    background-repeat: no-repeat;
}
.even{
    background-color: aqua;
}
.odd{
    background-color: aliceblue;
}