@font-face {
    font-family: Orbitron;
    src: url("./Orbitron/Orbitron-Regular.ttf")
}

body {
    background: radial-gradient(circle at center bottom, rgba(0, 0, 0, .9), rgba(0, 0, 0, .7), rgba(0, 0, 0, .5));
    margin: auto;
    font-family: Orbitron;
    color: rgb(250, 250, 250);
    height: 100vh;
    width: 100vw;
}
#root {
    height: 100%;
    width: 100%;
}

a {
    color: rgb(250, 250, 250);
    text-decoration: none;
}

